@{
  Layout = "_Layout";
}

<h2>Account Information</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @ViewBag.FirstName!</p>
  <h4>My Backyards</h4>
  @foreach (Backyard backyard in Model)
{
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">@backyard.Service</h5>
        <p class="card-text">@backyard.Description</p>
        <a href="/Backyards/Details/@(backyard.BackyardId)" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
}
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class = "btn btn-primary" value="Log out" />
  }
}
else
{
  <div id="navlinks">
    <p>@Html.ActionLink("Register", "Register") | @Html.ActionLink("Log in", "Login")</p>
  </div>
}