@{
  ViewData["Title"] = "Add a Backyard";
}

@model HiddenGarden.Models.Backyard

<h4>Add a new backyard to the community</h4>

@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        @Html.LabelFor(model => model.Service, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Service, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Instructions, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Instructions, new { @class = "form-control" })
    </div>

    <br>
    <br>
    <div class="form-group">
        <input type="submit" value="Add new backyard" class="btn btn-primary" />
    </div>
}

<br>
<div id="navlinks">
<p>@Html.ActionLink("Back to all backyards", "Index")</p>
</div>