@{
  ViewData["Title"] = $"Edit {Model.Service}";
}

@model HiddenGarden.Models.Backyard

<h4>Edit @Model.Service</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BackyardId)

  <div class="form-group">
    @Html.LabelFor(model => model.Service, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Service, new { @class = "form-control" })
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
  </div>

  <div class="form-group">
  @Html.LabelFor(model => model.Address, new { @class = "control-label" })
  @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
  </div>

  <div class="form-group">
  @Html.LabelFor(model => model.Instructions, new { @class = "control-label" })
  @Html.TextBoxFor(model => model.Instructions, new { @class = "form-control" })
  </div>
  
  <br>
  <br>

  <div class="form-group">
    <input type="submit" value="Edit backyard" class="btn btn-primary"/>
  </div>
}

<br>
<div id="navlinks">
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.BackyardId})</p>
</div>