@{
  ViewData["Title"] = $"Edit {Model.Service}";
}

@model HiddenGarden.Models.Backyard

<h4>Edit @Model.Service</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BackyardId)
  @Html.LabelFor(model => model.Service)
  @Html.TextBoxFor(model => model.Service, new { @Value = Model.Service})
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @Value = Model.Description})
  <br>
  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address, new { Value = Model.Address})
  <br>
  @Html.LabelFor(model => model.Instructions)
  @Html.TextBoxFor(model => model.Instructions, new { Value = Model.Instructions})
  <br>
  <br>
  <input type="submit" value="Edit backyard" class="btn btn-primary"/>
}

<br>
<div id="navlinks">
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.BackyardId})</p>
</div>